.animate {
  animation-fill-mode: both;
  will-change: transform;
  transform: translateZ();
}

//
// Spin
//
.animate.spin {
  animation: spin 700ms linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(-360deg);
  }
}


//
// Slide In Up
//
.animate.slideInUp {
  animation-name: slideInUp;
  animation-duration: 0.5s;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}



//
// Slide Out Down
//
.animate.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: 0.5s;
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }
}
