.app--welcome-message {
  color: black;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  font-size: 1rem;
  max-width: 450px;
  margin-top: -100px;
}

#results.empty {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - #{$gui-top-total-height});
  margin-top: 0;
  margin-bottom: 0;
}
