.artboards {
    position: relative;
    padding: 1rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    user-select: none;
    background: #232323;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 4rem;
}

$artboard-handle-height: 1rem;
.artboard {
    padding: 1rem;
    padding-right: 1.5rem;
    padding-bottom: $artboard-handle-height * 3;
    border: 1px solid transparent;
    position: relative;
    display: block;
    height: 1200px;

    &:nth-child(1) {
        width: 1200px;
    }

    &:nth-child(2) {
        width: 700px;
    }

    &:nth-child(3) {
        width: 360px;
    }

    &:not(:first-child) {
        margin-left: 4rem;
    }
    &:hover {
        background: #2A2A2A;
        border: 1px solid #606060;
        border-radius: 6px;
    }
    &.is-selected {
        background: #2A2A2A;
        border: 1px solid #606060;
        border-radius: 6px;
    }
    &__top {
        width: 100%;
        display: flex;
        color: #B3B3B3;
        margin-bottom: 0.5rem;
        &>*:not(:first-child) {
            margin-left: 16px;
        }
    }
    &__keypoints {}

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid white;

        iframe {
            height: 100%;
            width: 100%;
        }
    }

    &__handles {
        position: absolute;
        bottom: 0;
        right: 0;

        .handle__right,
        .handle__bottom {
            background: #2d77fb;
            content: '';
            height: $artboard-handle-height;
            width: $artboard-handle-height;
            position: absolute;
            border-radius: 100%;
            z-index: 1;
            border: 3px solid transparent;
        }

        // .handle__right {
        //     top: calc(50% - #{$artboard-handle-height});
        //     bottom: 0;
        //     right: -$artboard-handle-height;
        // }

        .handle__bottom {
            bottom: calc(-#{$artboard-handle-height} - 16px);
            right: calc(-#{$artboard-handle-height} - 16px);

            &:hover {
                cursor: nesw-resize;
            }

            &:active {
                z-index: 1;
                background: none;
                border-color: #2d77fb;
            }
        }
    }

}