.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 2px;
  outline: none;

  &:hover {
    cursor: pointer;
    color: white;
    background: $accent-color;
  }

  &:active {
    background: rgba(gray, 0.2);
  }

  &.button--small {
    padding: 4px 8px;
  }

}