// The grabbed object
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  cursor: grabbing;
  box-shadow: 0 20px 30px rgba(#000, 0.2);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
  cursor: grabbing;
}
// The destination
.gu-transit {
  opacity: 0.15;
  color: $color-1;
  border: 1px dashed lighten($color-2, 50%);
  background: $item-bg;
}
