::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	// background: $body-bg;
	// background: transparent;
	right: 10px;
	position: absolute;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #b8b8b8;

	&:hover, &:active {
		background: darken(#b8b8b8, 10%);
	}
}

::selection {
	background: $color-2;
	padding: 5px;
	color: white;
}

.gui-title-bar {
	-webkit-app-region: drag;
	width: 100%;
	height: $gui-title-bar-height;
	background-color:$gui-bg;
	border-bottom: 1px solid #353535;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	// justify-content: space-between;

	z-index: 10;
	position: relative;
	font-family: $font-defaults;
	font-size: 13px;
}