// Items
// $item-sidebar-bg: #f5f5f5;
$item-bg: #F3F3F3;
$item-container-bg: #F3F3F3;

#main-sidebar {
	background: $item-container-bg;
}

#data {
	// display: flex;
	// flex-flow: row wrap;
}

.data-container {
	margin: 0;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border: none;
	box-shadow: none;
	overflow: hidden;
	border-radius: 0;
	height: auto!important; // Overrides the layout style
}

.data-item-container {
	width: 100%;
}

.data-item-header {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	user-select: none;
	flex-grow: 1;
	flex-basis: 0;
	// border-bottom: 1px solid #d7e0e8;
	border: none;
	border-radius: 0;

	transition: padding 200ms cubic-bezier(0, 0, 0.59, 1.1);

	& > *:nth-child(3) {
		margin-left: auto;
	}

	&:not(.active) {
		background: $item-bg;

		input {
			color: #000;
		}
	}

	&:hover {
		cursor: pointer;
		background: lighten($item-bg, 3%);
		padding: 15px 15px;
	}

	&.active {
		background-color: lighten($body-bg, 60%);
	}

	.favicon {
		vertical-align: middle;
		display: inline-block;
		background: transparent;
		width: 16px;
		height: 16px;

		img {
			vertical-align: middle;
			margin: 0 auto;
			width: 16px;
			height: 16px;
		}
	}

	& input {
		display: inline-block;
		font-family: $font-defaults;
		font-weight: 300;
		font-size: 16px;
		color: #000;
		border: 1px solid transparent;
		text-align: left;
		background: transparent;
		margin-left: 10px;
		vertical-align: middle;
		min-width: 0;
		pointer-events: none;
		position: relative;
		z-index: 0;

		&:focus {
			outline: none;
			// border: 1px solid rgba(#000, 0.2);
		}
	}



}

.data-item-header:hover > .data-item-controls {
	opacity: 1;
	transform: translate(0,0);
}

.data-item-controls {
	position: absolute;
	display: flex;
	align-items: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	opacity: 0;

	& > *:not(:last-child) {
		margin-right: 10px;
	}

	& > * {
		z-index: 100;
		vertical-align: middle;
		display: inline-block;
	}

	.handle, .trash, .close {
		display: inline-block;
	}

	.handle {
		// display: block;
		position: absolute;
		// width: 24px;
		right: 30px;

		&:hover {
			cursor: grab;
		}

		&:active {
			cursor: grabbing;
		}
	}

	.trash {
		display: block;
		position: absolute;
		width: 24px;
		right: 30px;

		&:hover {
			cursor: pointer;
		}
	}

}

.data-item-section {
	margin-bottom: 25px;
	position: relative;
	// display: none;
}

.data-item-header.active {
	& ~ .data-item {
		padding: 20px 20px 30px;
		transition: height 0.15s cubic-bezier(0,0,.58,1);
		// opacity: 1;
		// visibility: visible;
		box-shadow: 0 30px 70px rgba(#000, 0.2);
		transform: translateY(0);

		&.right-overflow {
			right: 0;
		}

		& > * {
			opacity: 1;
			// transition: opacity 0.3s, transform 0.15s cubic-bezier(.47,.01,.66,.91);
			// transition-delay: 0.02s;
			transform: translateY(0);
		}
	}
}


.data-item {
	// border: 1px solid #EDEDED;
	background: mix($color-2, #f5f5f5, 80%);
	padding: 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 100;
	width: 400px;
	overflow: hidden;
	visibility: hidden;

	// Hack to fix slow transitions
	transform: translateY(-100px) translateZ(0);

	box-shadow: 0 0 30px rgba(#000, 0);
	opacity: 0;
	transition: height 0.15s ease-in-out, opacity 0.1s, padding 5s;
	// height: 0;

	& > * {
		opacity: 0;
		// transform: translateY(-20px);
		// transition: transform 0.15s cubic-bezier(.47,.01,.66,.91);
	}


	// Reduce space in between inputs
	& div:nth-child(3) > input {
		margin: 0 auto;
	}

	h4 {
		display: block;
		font-family: $font-defaults;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 2rem;
		color: lighten($body-bg, 20%);
		letter-spacing: 0;
	}

	& > div {
		// flex: 1 1 auto;
		width: 100%;
	}

}


.items-instructions {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	// justify-content: center;
	align-items: flex-start;
}

.items-instructions img {
	// display: inline-block;
	// vertical-align: middle;
	margin-top: 4px;
	height: 26px;
}

.items-instructions-right {
	margin-left: 10px;
}

.items-instructions h1 {
	font-family: $font-defaults;
	font-weight: 400;
	font-size: 32px;
	color: lighten($color-2, 60%);
	letter-spacing: 0;
	line-height: 1.2;
	margin-top: -3px;
	display: inline-block;
	vertical-align: bottom;
}


.new-item-container {
	position: absolute;
	bottom: 0;
	z-index: 3;
	background: $body-bg;
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-top: 1px solid #e4e4e4;
	display: inline-block;
}


#new {
	font-family: $font-defaults;
	font-size: 1rem;
	color: #fff;
	background: gray;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	align-items: center;
	border-top: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 10px 8px;
	user-select: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;

	// transition: all 1s cubic-bezier(0,0,0,0);

	&:after {
		content: 'New site';
		position: relative;
		// transform: translateY(50px);
		text-transform: none;
		width: 0;
		height: 0;
		opacity: 0;
		font-size: 0.8rem;
		vertical-align: middle;
		display: inline-block;
	}

	&:hover {
		cursor: pointer;
		width: auto;

		&:after {
			margin-left: 12px;
			width: auto;
			height: auto;
			opacity: 1;
			transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
		}
	}

	&:active {
		background: darken(gray, 10%);
	}

}


#item-save-status {
	float: right;
	position: absolute;
	right: 4%;
	top: 11px;
}
