.list-expandable {
  height: 175px;
  overflow: hidden;

  &.is-expanded {
    overflow-y: scroll;
  }

  &:hover {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -8px;
  }

  .list-item a {
    transition: all 0.1s ease-in-out;
    color: $link-default-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  .list-item:not(:first-child) {
    padding: 3px 0;
  }

  .list-expand-trigger {
    font-size: 13px;
    color: white;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    left: 0;
    padding-top: 20px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba($body-bg, 0.8) 0%, rgba($body-bg, 1) 100%);
    border-top: 1px solid rgba(white, 0.15);
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}
