/*  COLORS
========================================== */
$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;

/*  MIXINS
========================================== */

@mixin animation($animation) {
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  transform: $transform;
}

@mixin transition($transition) {
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  transition-delay: #{$transition-delay};
}

/*  KEYFRAMES
========================================== */

@include keyframes(pulse) {
  0% {
    @include transform(scale(0));
  }
  100% {
    @include transform(scale(1.0));
    opacity: 0;
  }
}

@include keyframes(background) {
  0% {
    top: 100%;
  }

  70% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}


/*  LOADER
========================================== */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  //  PULSE

  .pulse {
    width: 50px;
    height: 50px;
    background-color: $gray;
    border-radius: 100%;
    @include animation(pulse 1.2s infinite ease-in-out);
  }

  //  Background

  .background {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: $gray;
  }

  //  LOADED

  &.loaded {
    visibility: hidden;

    .pulse {
      opacity: 0 !important;
      @include transition(all .4s);
      visibility: hidden;
    }

    .background {
      @include animation(background 1.2s normal forwards cubic-bezier(0.785, 0.135, 0.15, 0.86));
      @include animation-delay(1.7s);
    }
  }
}

/*  MAIN
========================================== */

main {
  opacity: 0;
  // visibility: hidden;

  &.visible {
    opacity: 1;
    // visibility: visible;
    @include transition(opacity .1s ease);
    @include transition-delay(1.1s);
  }
}
