// Tile Colors
$tile-background-color: #ffffff;
$tile-text-color: rgb(82, 103, 144);
$tile-border: 1px solid $border-color;
// Spacing
$tile-spacing-horizontal: 5px;
$tile-spacing-vertical: 15px;
$tile-base-height: 60px;

.tile-container {
  display: flex;
  flex-flow: row wrap;
  // align-content: space-between;
  // align-items: flex-start;
  // width: 100%;
  // margin: 15px auto 50px;
  box-sizing: border-box;
  justify-content: space-between;
}

.tile__XS,
.tile__S,
.tile__M,
.tile__L,
.tile__XL {
  background: $tile-background-color;
  // border: $tile-border;
  margin: $tile-spacing-horizontal;
  box-sizing: border-box;
  margin-bottom: $tile-spacing-vertical;
  height: auto;
  border-radius: 5px;

  box-shadow: 0 0 1px 0px #bfbfbf;

  // overflow: hidden;
  // margin-bottom: 20px;
}

// Customize each tile
.tile__XS {
  // background: green;
  // flex: 1 1 auto;
  flex: 1 calc(25% - #{$tile-spacing-horizontal} * 2);
  // height: $tile-base-height;
}
.tile__S {
  // background: yellow;
  flex: 1 calc(25% - #{$tile-spacing-horizontal} * 2);
  // height: $tile-base-height * 2;
}
.tile__M {
  // background: red;
  flex: 1 calc(50% - #{$tile-spacing-horizontal} * 2);
  // height: $tile-base-height * 2.5;
}
.tile__L {
  // background: orange;
  flex: 1 calc(75% - #{$tile-spacing-horizontal} * 2);
  // height: $tile-base-height * 3;
}
.tile__XL {
  // background: pink;
  flex: 1 100%;
  // height: $tile-base-height * 4.5;
}


.tile__number {}
.tile__news {}
// TBA:
// .tile__list {}
// .tile__image {}



.results-item {
  width: 100%;
}

// Preview Button
.results-item .preview-button {
  float: right;
  margin-top: 5px;
  vertical-align: middle;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.results-item:hover > .preview-button {
  opacity: 1;
  cursor: pointer;
}


.results-item.image-item {
  width: 100%;
  overflow: hidden;
  padding: 0;

  max-height: 600px;

  &:hover .title {
    opacity: 1;
  }

  .title {
    opacity: 0;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 35%);

    z-index: 3;
    color: white;
    mix-blend-mode: difference;
    font-size: 1.25rem;
  }

  img {
    background-size: 100%;
    background-position: center;

    width: 100%;
  }
}


// News Items
.results-item.news-item {
  list-style: none;
  padding-bottom: 20px;

  .value-other, a {
    font-family: $font-defaults;
    font-weight: 300;
    font-size: 17px;
    color: $link-default-color;
    letter-spacing: 0;
    line-height: 1.6;
    display: block;
    margin-top: 10px;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
    }
  }

  .favicon {
    float: right;
    margin-top: 5px;
  }

}



#results > * > .tile__S {
  opacity: 0;
  transform-origin: bottom;
  transform: translate3d(0, 60px , 0) scale(0.8);
  box-shadow: 0 0 0 rgba(#000, 0);
  transition: transform 300ms ease-in,  opacity 1s cubic-bezier(0,.63,.65, 1);
  will-change: transform, box-shadow, opacity;

  &.is-visible {
    opacity: 1;
    transform: translate3d(0, 0,0) scale(1);
    box-shadow: 0 3px 15px rgba(#000, 0.04);
    transition: transform 250ms cubic-bezier(0,.63,.65, 1.5), opacity 150ms cubic-bezier(0,.63,.65, 1);
  }

}



.tile__XS,
.tile__S,
.tile__M,
.tile__L,
.tile__XL {
  list-style: none;
  font-family: $font-defaults;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  display: flex;

  & > li {
    flex: 0 1 auto;
    width: calc(100% * (1/4) -10px);
    align-items: flex-start;
    position: relative;
    padding: 15px;

    &:not(:last-child) {
      margin-right: 75px;
    }

    &:hover {
      // background: rgba(#000, 0.05);
      border-radius: 4px;
      cursor: default;
    }
  }

  .title {
    font-family: $font-defaults;
    font-weight: bold;
    font-size: 15px;
    color: $tile-text-color;
    letter-spacing: -0.21px;
  }

  .favicon {
    margin-right: 5px;

    & img {
      margin-top: -2px;
    }
  }

  .difference {
    font-family: $font-defaults;
    font-weight: 300;
    font-size: 32px;
    color: #27CF11;
    letter-spacing: 0;
    // Transition returning to original...
    transition: transform 0.25s cubic-bezier(0, 0, 0.57999, 1), opacity 0.1s;

    &.value-up {
      color: #27CF11;
    }

    &.value-down {
      color: #ff0000;
    }

    // &.value-down:before {
    //   content: '▼';
    //   font-size: 12px;
    //   vertical-align: middle;
    //   margin-right: 15px;
    // }
    //
    // &.value-up:before {
    //   content: '▲';
    //   font-size: 12px;
    //   vertical-align: middle;
    //   margin-right: 15px;
    // }

    &.is-active {
      transform: translateY(-20px);
      opacity: 0;
      // Transition moving up...
      transition: transform 200ms cubic-bezier(0, 0, 0.57999, 1), opacity 50ms cubic-bezier(0, 0, 0.57999, 1);
    }
  }

  .timestamp-ago {
    font-size: 13px;
    color: lighten($tile-text-color, 18%);
    display: block;
    opacity: 0;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  .timestamp-ago.is-loaded {
    opacity: 1;
  }

  .box {
    position: absolute;
    top: 100px;
    display: flex;
    color: #515151;
    opacity: 0;
    margin-top: -20px;
    // Transition moving down...
    transition: top 150ms cubic-bezier(0, 0, 0.57999, 1), opacity 75ms ease-in-out;
    will-change: auto;

    &.is-active {
      opacity: 1;
      top: 85px;
      // background: $body-bg;
      width: 100%;
      // Transition moving up...
      transition: all 100ms cubic-bezier(0, 0, 0.57999, 1);
    }

    & > .goal, & > .current {
      label {
        display: block;
        font-family: $font-defaults;
        font-size: 11px;
        color: #B1B1B1;
        letter-spacing: 1px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
