.toolbar {
    height: 44px;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-bottom: $gui-border;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    backdrop-filter: blur(40px);
    background: $gui-bg;

    & > *:not(:first-child) {
        margin-left: 16px;
    }

    & > *:nth-child(1) {
        flex: 1 0 auto;

        input[type="text"] {
            width: 100%;
        }

    }

    input[type="text"] {
        border: none;
        background: none;
        color: white;
        border: 1px solid rgba(#ffffff, 0.25);
        border-radius: 4px;
        padding: 0.5rem;
        box-sizing: border-box;
        &:hover {
            background: lighten($body-bg, 5%);
        }
        &:focus {
            outline: none;
            background: lighten($body-bg, 3%);
            border: 1px solid rgba($accent-color, 1);
        }
    }
}