.toolbar {
    height: 44px;
    background: $gui-bg;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #565656;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    input[type="text"] {
        border: none;
        background: none;
        color: white;
        border-bottom: 1px solid #434343;
        padding: 0.5rem;
        width: 600px;
        &:focus {
            outline: none;
            background: lighten($body-bg, 3%);
            border-bottom-color: transparent;
            border-radius: 4px;
        }
    }
}