{   
  "presets": [   
    ["env", { "modules": false }]   
  ],   
  "comments": false,
  "env": {  
    "test": {  
      "presets": [ 
        ["env", { "targets": { "node": "current" }}]       
      ]     
    }   
  } 
}