{
  "comments": false,
  "env": {
    // "main": {
    //   "presets": [
    //     [
    //       "@babel/preset-env",
    //       {
    //         "targets": {
    //           "node": "current"
    //         }
    //       }
    //     ]
    //   ]
    // },
    // "renderer": {
    //   "presets": [
    //     [
    //       "@babel/preset-env",
    //       {
    //         "modules": false
    //       }
    //     ]
    //   ]
    // },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
            // "modules": false
          }
        ]
      ]
    }
  },
  "plugins": [
    // "@babel/plugin-transform-runtime"
  ]
}