.env
dist/
ship/
src/*.app/
src/app/*.app/**/*
src/**/*.css
src/**/*.css.map
src/build/
src/cache/
node_modules/
package-lock.json

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
