# Build
.nuxt
dist
build/*
!build/icons
!build/entitlements.mac.plist
src/resources/.local-browsers
.nuxt-storybook
storybook-static

# Git & NPM
.env
!.gitkeep
.DS_Store

# NPM
node_modules
package-lock.json

# Yarn
.yarn
.yarnrc.yml

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*