{
  "comments": false,
  // "presets": [
  //   [
  //     "@babel/preset-env",
  //     {
  //       "targets": {
  //         "node": "current"
  //       }
  //     }
  //   ]
  // ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
            // "modules": false
          }
        ]
      ]
    }
  }
}