@import 'variables';

html {
	background: none;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
	width: 100%;
	// border-radius: 80px; // make sure the frame for sure has no hard edges
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
	background: none;
	// border-radius: 5px;
	overflow: hidden;
	font-family: $font-defaults;
	font-size: 15px;
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}