<div class="artboard">
    <div class="artboard__top">
        <div>H:xxx</div>
        <div>W:xxx</div>
        <div>xxx%</div>
    </div>
    <div class="artboard__keypoints"></div>
    <div class="artboard__content">
        {{>loader}}
        <webview></webview>
        <div class="artboard__handles">
            <div class="handle__bottom"></div>
        </div>
    </div>
</div>