<div class="artboard" style="height: {{height}}px; width: {{width}}px">
    <div class="artboard__top">
        <div>W: <span class="artboard__width">{{width}}</span></div>
        <div>H: <span class="artboard__height">{{height}}</span></div>
    </div>
    <div class="artboard__keypoints"></div>
    <div class="artboard__content">
        <div class="artboard__loader">
            <div class="content">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <iframe src="" frameborder="0"></iframe>
        {{!-- <webview partition=”trusted”></webview> --}}
        <div class="artboard__handles">
            <div class="handle__bottom"></div>
        </div>
    </div>
    <div class="button-artboard-after">+</div>
</div>