<div class="artboard">
    <div class="artboard__top">
        <div>H:900</div>
        <div>W:768</div>
        <div>100%</div>
    </div>
    <div class="artboard__keypoints"></div>
    <iframe src="" class="artboard__content" frameborder="0"></iframe>
</div>