<script type="text/javascript">
    // NWJS specific code
    var nw;
    if (nw) {

      if (process.versions['nw-flavor']) {
        // SDK-specific code
        console.log("Webkit Version: ", process.versions['node-webkit']);
      }

      // Make the NW window object accessible
      var win = nw.Window.get();

      // On load, show the app
      {{!-- win.on("loaded", function () {
        win.show();
        win.focus();

        Add the standard Mac shadow
        setTimeout(function () {
          win.setShadow(true);
          console.log('shadow?');
        }, 100);
      }); --}}

      // Open links in the native browser
      win.on('new-win-policy', function (frame, url, policy) {
        // do not open the window
        policy.ignore();
        // and open it in external browser
        nw.Shell.openExternal(url);
      });
    }
  </script>

  <script src="{{root}}js/app.min.js" type="text/javascript"></script>
  <script src="{{root}}js/templates.js" type="text/javascript"></script>

</body>

</html>