  <script src="{{root}}js/app.js" type="text/javascript"></script>
  <script src="{{root}}js/handlebars.min.js" type="text/javascript"></script>
  <script src="{{root}}js/templates.js" type="text/javascript"></script>

</body>

</html>