<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Shift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Preload CSS -->
  <link rel="preload" as="style" href="{{root}}css/style.css">
  <link rel="stylesheet" type="text/css" href="{{root}}css/style.css">

  <!-- Preload the JS -->
  <link rel="preload" as="script" href="{{root}}js/templates.js">
  <link rel="preload" as="script" href="{{root}}js/app.js">
</head>

<body>